.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  padding: 1rem 0;
  cursor: pointer;
  list-style: none;
}

.nav-menu li.logo {
  flex: 1;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 4px;
  cursor: default;
  user-select: none;
}

.nav-menu li.menuItems {
  position: relative;
  width: auto;
  margin: 0 1rem;
  text-align: center;
  list-style: none;
  order: 3;
}


.nav-menu li.menuItems:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #33ffff;
  opacity: 0;
  transition: all 0.3s linear;
}

.nav-menu li.menuItems:hover:after {
  opacity: 1;
  bottom: 9px;
}

.navLinks {
  font-size: 1.1rem;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.navLinks:hover {
  color: cyan;
}

.nav-menu li i {
  font-size: 1.4rem;
  color: #fff;
}

.nav-menu li i:hover {
  color: cyan;
}

.nav-menu li.btn {
  display: none;
}

@media (max-width: 830px) {
  .nav-menu li.menuItems {
    width: 100%;
    display: none;
  }

  .nav-menu li.menuItems:hover {
    box-shadow: inset 0 0 6px #33ffff, inset 0 0 11px #66ffff;
    border-radius: 5px;
  }

  .nav-menu li.menuItems:hover:after {
    opacity: 0;
  }

  .nav-menu li.btn {
    display: block;
  }

  .nav-menu li.menuItems.show {
    display: block;
  }
}
